@import '~bootstrap/scss/mixins/forms';
@import '~bootstrap/scss/mixins/image';
@import '../../../theme/styles';

@include nb-install-component() {
  .file {
    margin-top: 0.5rem;
  }

  .drag-placeholder {
    min-height: 1rem;
    min-width: 2rem;
    background: nb-theme(color-basic-500);
    border: dotted 3px nb-theme(color-basic-600);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
