@import '~bootstrap/scss/mixins/forms';
@import '../../../theme/styles';

@include nb-install-component() {
  .form-group {
    margin-bottom: 0;
    min-width: 700px;
  }

  label {
    padding-right: 0;
  }

  label, .col-value, button {
    margin-bottom: 0.5rem;
  }

  .form-control-small {
    max-width: 40%;
  }

  .input-group-append {
    max-width: 60%;
  }
}
