<div [formGroup]="form" class="row">
  <div *ngIf="! model.disabled" class="col-12">
    <a nbButton status="info" size="tiny" (click)="add()">{{ lang.add }}</a>
    <input [formControlName]="model.name" type="hidden" [name]="model.name" [value]="model.value">
  </div>
  <div class="col-12 vertical-scroll table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th *ngFor="let attr of model.attributes">
            {{ attr.text }}
            <nb-icon icon="arrowhead-up" [title]="lang.asc" status='control' (click)="sort(attr.value, 1)"></nb-icon>
            <nb-icon icon="arrowhead-down" [title]="lang.desc" status='control' (click)="sort(attr.value, 0)"></nb-icon>
          </th>
          <th *ngIf="! model.disabled">{{ lang.operate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="model.value && model.value.length > 0">
          <tr *ngFor="let row of model.value; let i = index">
            <td *ngFor="let attr of model.attributes" [title]="row[attr.value]">
              {{ row[attr.value] }}
            </td>
            <td *ngIf="! model.disabled">
              <nb-icon icon="close" [title]="lang.delete" status='danger' (click)="delete(row)"></nb-icon>
              <nb-icon icon="edit-outline" [title]="lang.edit" status='primary' (click)="edit(row, i)"></nb-icon>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="! model.value || model.value.length === 0">
          <tr><td>{{ lang.no_data }}</td></tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div *ngIf="invalid" class="text-error">
    <small *ngFor="let error of errors" class="form-text text-danger">{{ error }}</small>
  </div>
</div>
<ng-template #contentTemplate let-data>
  <sff-item-dialog [data]="data.row"
                   [fields]="data.fields"
                   [size]="data.size"
                   (finish)="receive($event, data.index)"></sff-item-dialog>
</ng-template>