<div [formGroup]="form" class="row">
  <div *ngIf="! model.disabled" class="top col-12">
    <a nbButton status="info" size="tiny" (click)="add()">{{ lang.add }}</a>
    <div *ngIf="model.value && model.value.length > 5" class="input-group search-group">
      <div class="input-group-prepend">
        <nb-select size="small" [(selected)]="searchAttribute">
          <nb-option *ngFor="let opt of model.attributes" [value]="opt.value">{{ opt.text }}</nb-option>
        </nb-select>
      </div>
      <input #searchBox
          size="tiny"
          class="form-control form-control-sm search-box"
          [placeholder]="lang.keyword_search">
      <span class="input-group-append">
        <button nbButton
                size="tiny"
                class="input-group-text"
                status="basic"
                (click)="search(searchBox.value)">{{ lang.search }}</button>
      </span>
      <span class="total input-group-append">
        {{ searchResult.length }} / {{ model.value.length }}
      </span>
    </div>
    <input [formControlName]="model.name" type="hidden" [name]="model.name" [value]="model.value">
  </div>
  <div class="col-12 vertical-scroll table-responsive table-item-{{ model.height }}">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th *ngFor="let attr of model.attributes">
            {{ attr.text }}
            <nb-icon *ngIf="! model.disabled" [ngClass]="{current: sortDirection===1 && sortType===attr.value}" icon="arrowhead-up" [title]="lang.asc" (click)="sort(attr.value, 1, attr.type)"></nb-icon>
            <nb-icon *ngIf="! model.disabled" [ngClass]="{current: sortDirection===0 && sortType===attr.value}" icon="arrowhead-down" [title]="lang.desc" (click)="sort(attr.value, 0, attr.type)"></nb-icon>
          </th>
          <th *ngIf="! model.disabled">{{ lang.operate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="searchResult && searchResult.length > 0">
          <tr *ngFor="let row of searchResult; let i = index">
            <td *ngFor="let attr of model.attributes" [title]="row[attr.value]">
              {{ row[attr.value] }}
            </td>
            <td *ngIf="! model.disabled">
              <nb-icon icon="close" [title]="lang.delete" status='danger' (click)="delete(row)"></nb-icon>
              <nb-icon icon="edit-outline" [title]="lang.edit" status='primary' (click)="edit(row, i)"></nb-icon>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="! searchResult || searchResult.length === 0">
          <tr><td>{{ lang.no_data }}</td></tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div *ngIf="invalid" class="text-error">
    <small *ngFor="let error of errors" class="form-text text-danger">{{ error }}</small>
  </div>
</div>
<ng-template #contentTemplate let-data>
  <ng-container [ngSwitch]="model?.kind">
    <sff-key-value-dialog *ngSwitchCase="'key-value'"
                          [data]="data.row"
                          [options]="data.keyValues"
                          [size]="data.size"
                          (finish)="receive($event, data.index)"></sff-key-value-dialog>
    <sff-item-dialog  *ngSwitchDefault
                      [data]="data.row"
                      [fields]="data.fields"
                      [size]="data.size"
                      (finish)="receive($event, data.index)"></sff-item-dialog>
  </ng-container>
</ng-template>
