@import '../../theme/styles';

@include nb-install-component() {
  .vertical-scroll {
    max-height: 180px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    overflow: auto;
  }

  .table {
    margin: 0;
    color: nb-theme(text-basic-color);
  }

  table thead {
    color: nb-theme(text-primary-color);
  }

  .table td, .table th {
    padding: .25rem;
    max-width: 20rem;
    overflow: hidden;
    font-size: .5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  nb-icon {
    font-size: 0.75rem;
  }

  ngx-item-dialog {
    width: 800px;
  }
}
