<div [formGroup]="form" class="row">
  <div *ngIf="! model.disabled" class="col-12">
    <a nbButton status="info" size="tiny" (click)="add()">新增</a>
    <input [formControlName]="model.name" type="hidden" [name]="model.name" [value]="model.value">
  </div>
  <div class="col-12 vertical-scroll table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th *ngFor="let attr of model.attributes">
            {{ attr.text }}
            <nb-icon icon="arrowhead-up" title="升序" status='control' (click)="sort(attr.value, 1)"></nb-icon>
            <nb-icon icon="arrowhead-down" title="降序" status='control' (click)="sort(attr.value, 0)"></nb-icon>
          </th>
          <th *ngIf="! model.disabled">操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="model.value && model.value.length > 0">
          <tr *ngFor="let row of model.value; let i = index">
            <td *ngFor="let attr of model.attributes" [title]="row[attr.value]">
              {{ row[attr.value] }}
            </td>
            <td *ngIf="! model.disabled">
              <nb-icon icon="close" title="删除" status='warning' (click)="delete(row)"></nb-icon>
              <nb-icon icon="edit-outline" title="编辑" status='primary' (click)="edit(row, i)"></nb-icon>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="! model.value || model.value.length === 0">
          <tr><td>暂无</td></tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
