@import '~bootstrap/scss/mixins/forms';
@import '../../../theme/styles';

@include nb-install-component() {
  .popup-checkbox {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible;
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
  }

  a {
    margin-right: 0.5rem;
  }

  .item {
    position: relative;
    margin-right: .75rem;
    margin-bottom: .25rem;
    margin-top: .25rem;
    padding: 0.3rem 0.6rem;
    background-color: nb-theme(background-basic-color-3);
    border-color: nb-theme(border-basic-color-3);
    border-radius: 0.2rem;
    font-size: 0.85rem;
    white-space: nowrap;

    span {
      vertical-align: top;
    }

    nb-icon {
      position: absolute;
      width: 1rem;
      height: 1rem;
      right: -.5rem;
      top: -.5rem;
    }
  }

  .text-error {
    width: 100%;
  }

  .operate {
    padding-top: 0.5rem;
  }

  .text-list {
    display: flex;
    flex-wrap: wrap;
  }

  .drag-placeholder {
    min-height: 1rem;
    min-width: 2rem;
    background: nb-theme(color-basic-500);
    border: dotted 3px nb-theme(color-basic-600);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .drag-container {
    width: auto;
    flex-wrap: nowrap;
    overflow-x: auto;

    .box {
      overflow: visible;
    }
  }
}
