@import '~bootstrap/scss/mixins/forms';
@import '../../../theme/styles';

@include nb-install-component() {
  a {
    margin-right: 0.5rem;
    margin-top: calc(0.375rem + 1px);
  }

  .text-error {
    width: 100%;
  }
}
