<div [formGroup]="form">
  <div class="input-group">
    <ng-container *ngIf="model.download">
      <span class="input-group-append">
        <a nbButton status="info" [href]="model.download" target="_blank"><nb-icon icon="download-outline"></nb-icon></a>
      </span>
    </ng-container>
    <ng-container *ngIf="! model.disabled">
      <input class="form-control"
             type="file"
             [accept]="model.accept"
             (change)="setValue($event)">
      <input [formControlName]="model.name" type="hidden" [id]="model.name" />
    </ng-container>
  </div>
</div>
