<div class="input-group image-text" [nbSpinner]="loading" nbSpinnerStatus="info">
  <input nbInput
         class="form-control"
         pattern="(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&:/~\+#\|]*[\w\-@?^=%&/~\+#])?"
         [(ngModel)]="url"
         #webUrl="ngModel"
         [placeholder]="lang.input_network_url"
         [ngClass]="{'form-control-success': webUrl.valid, 'form-control-danger': webUrl.invalid}"
         [attr.aria-invalid]="webUrl.invalid && webUrl.touched ? true : null">
  <span class="input-group-append">
    <nb-icon *ngIf="webUrl.value" icon="close-outline" status="primary" (click)="clear()"></nb-icon>
    <button nbButton
            class="input-group-text"
            size="small"
            status="primary"
            [disabled]="!webUrl.value || !webUrl.valid"
            (click)="crawl()">{{ lang.grab }}</button>
  </span>
</div>
<p *ngIf="webUrl.invalid && webUrl.touched" class="caption status-danger">
  {{ lang.network_url_error }}
</p>
<img *ngIf="tempUrl" [src]="tempUrl | safeURL" style="display: none;" (error)="loadError()" (load)="loadImage()">
<ng-container *ngIf="thumbnails.length">
  <sff-image-slider [items]="thumbnails"
                    [currentIndex]="currentIndex"
                    [active]="submits"
                    (currentChange)="slide($event)"
                    (destroy)="delete($event)"
                    (edit)="desc($event)"></sff-image-slider>
  <a *ngIf="! loading" nbButton fullWidth size="small" status="success" type="button" (click)="save()">{{lang.save}}</a>
  <nb-progress-bar *ngIf="start" [value]="saving" size="tiny" status="info">{{ submits.length }} / {{ thumbnails.length }}</nb-progress-bar>
  <div *ngIf="start && saving === 0" class="progress-text">
    <span>{{ submits.length }} / {{ thumbnails.length }}</span>
  </div>
</ng-container>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{lang.tip}}<nb-icon icon="close-outline" style="float: right;" (click)="ref.close()"></nb-icon></nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
  </nb-card>
</ng-template>
