<div *ngFor="let item of models"
     class="form-group row {{ size }}-group"
     [ngClass]="{'inline-group': size && size!=='large', 'hidden': hide}">
  <ng-container *ngIf="column && column.length >= 2">
    <label [attr.for]="item.name" class="col-{{ column[0] }} col-form-label text-right" [title]="item.label">
      {{ item.label }}
      <small *ngIf="item.help && size==='large'" class="form-text text-muted">{{ item.help }}</small>
      <small *ngIf="item.require" class="form-text text-status-info">必填</small>
    </label>
    <div class="col-{{ column[1] }}">
      <ng-container ngxDynamicField [model]="item" [form]="form" [reload]="reload">
      </ng-container>
    </div>
  </ng-container>
  <div *ngIf="!column || column.length < 2" class="col-12">
    <small>{{ item.label }}</small>
    <div>
      <ng-container ngxDynamicField [model]="item" [form]="form" [reload]="reload">
      </ng-container>
    </div>
  </div>
</div>
