<div [formGroup]="form" class="input-group">
    <input class="form-control"
           [type]="model.kind"
           [placeholder]="model.placeholder?.start"
           [value]="model.value?.start"
           (change)="receive($event, 'start')">
    <nb-icon style="height: auto;" icon="minus-outline"></nb-icon>
    <input class="form-control"
           [type]="model.kind"
           [placeholder]="model.placeholder?.end"
           [value]="model.value?.end"
           (change)="receive($event, 'end')">
    <input [formControlName]="model.name" type="hidden" [name]="model.name" [value]="model.value">
  </div>
  