<div *ngIf="items && items.length > 0" [ngClass]="{'small': size === 'small'}">
  <nb-actions *ngIf="items.length > 1" size="small" fullWidth>
    <nb-action (click)="backward()" [title]="lang.preview">
      <nb-icon icon="arrow-ios-back-outline" status="basic"></nb-icon>
    </nb-action>
    <nb-action (click)="forward()" [title]="lang.preview">
      <nb-icon icon="arrow-ios-forward-outline" status="basic"></nb-icon>
    </nb-action>
    <nb-action (click)="upward()" [title]="lang.sort">
      <nb-icon icon="arrow-upward-outline" status="info"></nb-icon>
    </nb-action>
    <nb-action (click)="downward()" [title]="lang.sort">
      <nb-icon icon="arrow-downward-outline" status="info"></nb-icon>
    </nb-action>
    <nb-action (click)="delete()" [title]="lang.delete">
      <nb-icon icon="close" status="warning"></nb-icon>
    </nb-action>
    <nb-action>{{ +currentIndex + 1 }} / {{ items.length }}</nb-action>
  </nb-actions>
  <div class="slider" [ngClass]="{'auto-slider': readonly}">
    <img [src]="items[currentIndex].url | safeURL" class="img-thumbnail" [ngClass]="{'active': active && active.includes(items[currentIndex].url)}" (click)="bigImage(imageTemplate)">
  </div>
  <input *ngIf="! readonly"
         #descriptionBox
         class="form-control desciption"
         [placeholder]="lang.input_description"
         [(ngModel)]="items[currentIndex].title"
         (input)="desc(descriptionBox.value)">
</div>
<div *ngIf="! items || items.length === 0" class="slider" [ngClass]="{'small-slider': size === 'small'}">
  <img src="assets/images/cover.jpg" class="img-thumbnail">
</div>

<ng-template #imageTemplate let-data>
  <p style="text-align: center;"><img [src]="data.src" style="max-width: 1850px; max-height: 830px;"></p>
</ng-template>
