<div [nbSpinner]="loading" nbSpinnerStatus="info">
  <input class="form-control-file image-file"
         type="file"
         (change)="selectedFileOnChanged($event)" />
  <image-cropper
         [imageChangedEvent]="imageChangedEvent"
         [maintainAspectRatio]="true"
         [aspectRatio]="aspectRatioValue"
         [format]="format"
         [hidden]="!cropperVisible"
         (dblclick)="finishCropped()"
         (imageCropped)="imageCropped($event)"
         (imageLoaded)="imageLoaded($event)"
         (cropperReady)="cropperReady()"
         (loadImageFailed)="loadImageFailed()"></image-cropper>
  <ngx-image-slider *ngIf="thumbnails.length"
                    [items]="thumbnails"
                    [active]="uploaded"
                    [currentIndex]="currentIndex"
                    (currentChange)="slide($event)"
                    (order)="updateOrder($event)"
                    (destroy)="delete($event)"
                    (edit)="desc($event)">
  </ngx-image-slider>
  <a *ngIf="start"
     nbButton
     fullWidth
     size="small"
     type="button"
     status="success"
     (click)="uploadFile()">
     {{ lang.upload }}
  </a>
</div>
<nb-progress-bar *ngIf="start" [value]="uploading" size="tiny" status="info">{{ uploaded.length }} / {{ thumbnails.length }}</nb-progress-bar>
<div *ngIf="start && uploading === 0" class="progress-text">
  <span>{{ uploaded.length }} / {{ thumbnails.length }}</span>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{ lang.tip }}</nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()" status="info">ok</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
