<div class="dynamic-form">
  <form *ngIf="form"
        [ngClass]="{'form-inline': layout==='inline'}"
        [formGroup]="form"
        [nbSpinner]="loading"
        nbSpinnerStatus="info"
        (ngSubmit)="onSubmit()">
    <ng-container *ngIf="complete">
      <ng-container [ngSwitch]="layout">
        <nb-tabset *ngSwitchCase="'tab'">
          <nb-tab *ngFor="let block of models" [tabTitle]="block.title" [lazyLoad]="true">
            <ngx-form-block *ngIf="block.items" [models]="block.items" [column]="block.column" [form]="form" [reload]="reload"></ngx-form-block>
          </nb-tab>
        </nb-tabset>
        <nb-stepper *ngSwitchCase="'step'" orientation="horizontal">
          <nb-step *ngFor="let block of models" [label]="block.title">
            <ngx-form-block *ngIf="block.items" [models]="block.items" [column]="block.column" [form]="form" [reload]="reload"></ngx-form-block>
          </nb-step>
        </nb-stepper>
        <ul *ngSwitchDefault class="default-block" [ngClass]="{'inline-block': layout==='inline', 'custom-condition': layout==='inline'}">
          <li *ngFor="let block of models">
            <h3 *ngIf="block.title">{{ block.title }}</h3>
            <ngx-form-block *ngIf="block.items"
                            [models]="block.items"
                            [column]="block.column"
                            [form]="form"
                            [display]="layout"
                            [reload]="reload"
                            [ngClass]="{'form-inline': layout==='inline'}">
            </ngx-form-block>
          </li>
        </ul>
      </ng-container>
    </ng-container>
    <ng-content select="[name='other-models']"></ng-content>
    <div class="form-group form-operation row" [ngClass]="{'inline-operation': layout==='inline', 'custom-operation': layout==='inline'}">
      <div [ngClass]="{'offset-4': layout!=='inline', 'col-8': layout!=='inline'}">
        <ng-container *ngIf="defaultButton">
          <button type="submit" class="btn btn-success" [disabled]="!form.valid">{{ textContainer.submit }}</button>
          <button type="button" class="btn btn-warning" (click)="onReset()">{{ textContainer.reset }}</button>
        </ng-container>
        <ng-container *ngIf="searchButton">
          <button type="submit" class="btn btn-success">{{ textContainer.search }}</button>
          <button type="button" class="btn btn-warning" (click)="onReset()">{{ textContainer.reset }}</button>
        </ng-container>
        <ng-container *ngIf="buttons">
          <button *ngFor="let btn of buttons" type="button" class="btn btn-primary" (click)="onOperate(btn)">
            {{ btn.value }}
          </button>
        </ng-container>
      </div>
    </div>
  </form>
</div>