@import './theme/styles';

@include nb-install-component() {
  /* 通用组件样式 */
  @each $status in nb-get-statuses() {
    .text-status-#{$status} {
      color: nb-theme(text-#{$status}-color);
    }

    .form-control-#{$status} {
      border-color: nb-theme(text-#{$status}-color);
    }
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: nb-theme(color-basic-disabled);
    color: nb-theme(text-disabled-color);
  }

  .text-right {
    text-align: right;
    justify-content: flex-end;
  }

  .btn {
    margin-left: 1rem;
    margin-bottom: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .text-error {
    width: 100%;
  }

  .form-check-inline {
    margin-right: 0.75rem;
  }

  .form-badge {
    padding-right: 1.5rem;
  }

  /* 默认表单样式 */
  .dynamic-form {
    .default-block {
      padding: 0;
      margin: 0;
      list-style: none;
  
      li {
        padding: 0;
        margin: 0;
        list-style-type: none;
  
        h3 {
          position: relative;
          padding-right: 2rem;
          border-bottom: 1px solid nb-theme(outline-color);
          font-size: 1.25rem;
          text-align: right;
        }
      }
    }

    .form-operation {
      margin-top: 1rem;
      text-align: center;

      nb-icon {
        margin-right: 1rem;
        float: right;
      }
    }

    ngx-form-block {
      display: flex;
      flex-wrap: wrap;
    }
  }

  /* 行内表单样式 */
  .inline-group {
    width: 33%; // 每行显示3个
    overflow: hidden;

    &.date-picker-group {
      overflow: visible;
    }

    .col-form-label {
      padding-right: 0;
      overflow: hidden;
      white-space: nowrap;
      text-align: right;
    }
  }

  .large-group, .-group {
    width: 100%; // 每行显示1个
  }

  .medium-group {
    width: 50%; // 每行显示2个
  }

  .small-group {
    width: 25%; // 每行显示4个
  }

  .tiny-group {
    width: 20%; // 每行显示5个
    margin-right: 0;
  }

  /* 折叠样式 */
  .fold-block {
    height: 4.5rem;
    overflow: hidden;
  }

  .hidden {
    display: none;
  }
}
