<form *ngIf="form" class="dynamic-form" [formGroup]="form" [nbSpinner]="loading" nbSpinnerStatus="info" (ngSubmit)="onSubmit()">
  <ng-container [ngSwitch]="layout">
    <nb-tabset *ngSwitchCase="'tab'">
      <nb-tab *ngFor="let block of models" [tabTitle]="block.title">
        <ng-container *ngIf="block.column">
          <ngx-form-block [models]="block.items" [column]="block.column" [form]="form"></ngx-form-block>
        </ng-container>
      </nb-tab>
    </nb-tabset>
    <nb-stepper *ngSwitchCase="'step'" orientation="horizontal">
      <nb-step *ngFor="let block of models" [label]="block.title">
        <ng-container *ngIf="block.column">
          <ngx-form-block [models]="block.items" [column]="block.column" [form]="form"></ngx-form-block>
        </ng-container>
      </nb-step>
    </nb-stepper>
    <ul *ngSwitchDefault class="default-block">
      <li *ngFor="let block of models">
        <h3 *ngIf="block.title">{{ block.title }}</h3>
        <ng-container *ngIf="block.column">
          <ngx-form-block [models]="block.items" [column]="block.column" [form]="form"></ngx-form-block>
        </ng-container>
      </li>
    </ul>
  </ng-container>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button type="submit" class="btn btn-success" [disabled]="!form.valid">提交</button>
      <button type="button" class="btn btn-warning" (click)="onReset()">重置</button>
    </div>
  </div>
</form>
