<form *ngIf="form" class="dynamic-form" [formGroup]="form" [nbSpinner]="loading" nbSpinnerStatus="info" (ngSubmit)="onSubmit()">
  <ng-container *ngIf="complete">
    <ng-container [ngSwitch]="layout">
      <nb-tabset *ngSwitchCase="'tab'">
        <nb-tab *ngFor="let block of models" [tabTitle]="block.title">
          <ngx-form-block *ngIf="block.items" [models]="block.items" [column]="block.column" [form]="form"></ngx-form-block>
        </nb-tab>
      </nb-tabset>
      <nb-stepper *ngSwitchCase="'step'" orientation="horizontal">
        <nb-step *ngFor="let block of models" [label]="block.title">
          <ngx-form-block *ngIf="block.items" [models]="block.items" [column]="block.column" [form]="form"></ngx-form-block>
        </nb-step>
      </nb-stepper>
      <ul *ngSwitchDefault class="default-block">
        <li *ngFor="let block of models">
          <h3 *ngIf="block.title">{{ block.title }}</h3>
          <ngx-form-block *ngIf="block.items" [models]="block.items" [column]="block.column" [form]="form"></ngx-form-block>
        </li>
      </ul>
    </ng-container>
  </ng-container>
  <ng-content select="[name='other-models']"></ng-content>
  <div class="form-group form-operation row">
    <div class="offset-4 col-8">
      <button type="submit" class="btn btn-success" [disabled]="!form.valid">提交</button>
      <button type="button" class="btn btn-warning" (click)="onReset()">重置</button>
      <ng-container *ngIf="buttons">
        <button *ngFor="let btn of buttons" type="button" class="btn btn-primary" (click)="onOperate(btn)">
          {{ btn.value }}
        </button>
      </ng-container>
    </div>
  </div>
</form>
