@import './theme/styles';

@include nb-install-component() {
  @each $status in nb-get-statuses() {
    .text-status-#{$status} {
      color: nb-theme(text-#{$status}-color);
    }

    .form-control-#{$status} {
      border-color: nb-theme(text-#{$status}-color);
    }
  }

  .btn-basic {
    background-color: #edf1f7;
    border-color: #edf1f7;
    color: #222b45;
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: nb-theme(color-basic-disabled);
    color: nb-theme(text-disabled-color);
  }

  .text-right {
    text-align: right;
    justify-content: flex-end;
  }

  .btn {
    margin-left: 1rem;
    margin-bottom: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .text-error {
    width: 100%;
  }

  .inline-group {
    width: 33%;
    margin-bottom: 0.5rem;

    .col-form-label {
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .form-check-inline {
    margin-right: 0.75rem;
  }

  .form-badge {
    padding-right: 1.5rem;
  }

  .dynamic-form {
    .default-block {
      padding: 0;
      margin: 0;
      list-style: none;
  
      li {
        padding: 0;
        margin: 0;
        list-style-type: none;
  
        h3 {
          padding-right: 2rem;
          border-bottom: 1px solid nb-theme(outline-color);
          font-size: 1.25rem;
          text-align: right;
        }
      }
    }
  }
}

.inline-block {
  width: 75%;

  h3 {
    display: none;
  }
}

.inline-operation {
  width: 25%;
}
