@import './theme/styles';

@include nb-install-component() {
  /* 通用组件样式 */
  @each $status in nb-get-statuses() {
    .text-status-#{$status} {
      color: nb-theme(text-#{$status}-color);
    }

    .form-control-#{$status} {
      border-color: nb-theme(text-#{$status}-color);
    }
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: nb-theme(color-basic-transparent-default);
    color: nb-theme(text-disabled-color);
  }

  .text-right {
    text-align: right;
    justify-content: flex-end;
  }

  .btn {
    margin-left: 1rem;
    margin-bottom: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .text-error {
    width: 100%;
  }

  .form-check-inline {
    margin-right: 0.75rem;
  }

  .form-badge {
    padding-right: 1.5rem;
  }

  .operation-fixed {
    position: fixed;
    width: auto;
    z-index: 2050;
  }
  .operation-right {
    right: 0;
  }
  .operation-bottom {
    bottom: 0;
  }

  /* 弹出框 */
  .popup-list-window {
    background-color: #fff;
    position: relative;
  }

  /* 默认表单样式 */
  .form-operation {
    margin-top: 1rem;
    text-align: center;

    nb-icon {
      margin-right: 1rem;
      float: right;
    }
  }

  ::ng-deep nb-tabset.two-layout > .tabset {
    background-color: nb-theme(color-basic-400);
    .tab a {
      color: nb-theme(color-basic-700);
    }
    .tab.active .tab-link {
      color: nb-theme(text-primary-color);
    }
  }

  // sff-form-layout {
  //   display: block;
  // }

  sff-form-block {
    display: flex;
    flex-wrap: wrap;

    &.hidden {
      display: none;
    }
  }

  .form-layout {
    .block-ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0;
        margin: 0;
        list-style-type: none;

        h3 {
          position: relative;
          padding-right: 2rem;
          border-bottom: 1px solid nb-theme(outline-color);
          font-size: 1.25rem;
          text-align: left;

          nb-icon {
            margin-right: 1rem;
            float: right;
          }
        }
      }
    }
  }

  /* 表单项样式 */
  .block-item {
    overflow: hidden;

    &.block-date-picker {
      overflow: visible;
    }
    &.block-date-range-picker {
      overflow: visible;
    }
    &.block-keyword {
      overflow: visible;
    }

    &.block-extra-large {
      // width: 100%; // 每行显示1个
      flex: 0 0 100%;
      max-width: 100%;
    }

    &.block-large {
      // width: 50%; // 每行显示2个
      flex: 0 0 50%;
      max-width: 50%;
    }

    &.block-medium {
      // width: 33%; // 每行显示3个
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }

    &.block-small {
      // width: 25%; // 每行显示4个
      flex: 0 0 25%;
      max-width: 25%;
    }

    &.block-tiny {
      // width: 20%; // 每行显示5个
      flex: 0 0 20%;
      max-width: 20%;
      margin-right: 0;
    }

    .col-form-label {
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
      white-space: nowrap;
      text-align: right;
      text-overflow: ellipsis;

      small {
        white-space: normal;
        word-break: break-all;
      }

      nb-icon {
        width: 0.8rem;
        height: 0.8rem;
      }
    }

    .block-row-full {
      nb-icon {
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }

  @media screen and (width <= 768px) {
    .block-item {
      padding: 0;

      .row {
        margin-left: 0;
      }

      &.block-extra-large, &.block-large, &.block-medium, &.block-small, &.block-tiny {
        // width: 100%; // 每行显示1个
        flex: 0 0 100%;
        max-width: 100%;
      }

      .col-form-label {
        small {
          display: none;
        }
      }
    }
  }

  /* 表单块折叠样式 */
  .block-fold {
    height: 4.5rem;
    overflow: hidden;
  }

  .hidden {
    display: none;
  }
}
