<div [formGroup]="form" class="block-row">
  <ng-container [ngSwitch]="model.display">
    <ng-container *ngSwitchCase="'input'">
      <div *ngIf="thumbs" class="full-image-table">
        <div class="full-image-inputs">
          <h5>{{ lang.picture }}</h5>
          <h5>{{ lang.description }}</h5>
        </div>
        <div *ngFor="let thumb of thumbs" class="full-image-inputs">
          <input type="text" class="form-control" readonly nbInput fullWidth [value]="thumb.url" [title]="thumb.url">
          <input type="text" class="form-control" nbInput fullWidth [value]="thumb.title" [title]="thumb.title">
        </div>
      </div>
    </ng-container>
    <ngx-image-slider *ngSwitchDefault
                      [items]="thumbs"
                      [currentIndex]="currentIndex"
                      [readonly]="! model.multiple"
                      size="small"
                      (currentChange)="slide($event)"
                      (order)="order($event)"
                      (destroy)="delete($event)"
                      (edit)="desc($event)">
    </ngx-image-slider>
  </ng-container>
  
  <span *ngIf="! model.disabled">
    <a nbButton
      size="tiny"
      status="info"
      type="button"
      (click)="chooseImage()">{{ lang.choose }}</a>
    <a *ngIf="model.value"
      nbButton
      size="tiny"
      status="warning"
      type="button"
      (click)="destroyImage()">{{ lang.clear }}</a>
    <input [formControlName]="model.name" type="hidden" [value]="model.value">
  </span>
</div>

<ng-template #contentTemplate>
  <nb-tabset style="width: 700px; height: 600px; overflow-y: auto;">
    <nb-tab [tabTitle]="lang.cropper_picture">
      <ngx-image-upload-cropper [config]="model.cropperConfig"
                                [multiple]="model.multiple"
                                [queueLimit]="model.queueLimit"
                                [aspectRatio]="{height: model.aspectRatioHeight, width: model.aspectRatioWidth}"
                                [format]="model.cropperType"
                                (finish)="submitImage($event)"></ngx-image-upload-cropper>
    </nb-tab>
    <nb-tab [tabTitle]="lang.local_picture">
      <ngx-image-upload [config]="model.uploadConfig"
                        [multiple]="model.multiple"
                        [top]="model.queueLimit"
                        (finish)="submitImage($event)"></ngx-image-upload>
    </nb-tab>
    <nb-tab [tabTitle]="lang.network_picture">
      <ngx-image-web [config]="model.crawlConfig"
                     [multiple]="model.multiple"
                     [queueLimit]="model.queueLimit"
                     (finish)="submitImage($event)"></ngx-image-web>
    </nb-tab>
    <nb-tab [tabTitle]="lang.history_picture">
      <ngx-image-search [config]="model.searchConfig"
                        [multiple]="model.multiple"
                        [queueLimit]="model.queueLimit"
                        (finish)="submitImage($event)"></ngx-image-search>
    </nb-tab>
    <nb-tab [tabTitle]="lang.waiting_picture">
      <ngx-image-cache [images]="tmpImage"
                       (active)="changeImage($event)"></ngx-image-cache>
    </nb-tab>
  </nb-tabset>
  <div>
    <button nbButton status="danger" (click)="cancelImage()"  style="margin-right: 1rem;">{{ lang.cancel }}</button>
    <button *ngIf="tmpImage.length" nbButton status="info" (click)="sureImage()">
      {{ lang.sure }} {{ tmpFilter ? tmpFilter.length : tmpImage.length }} / {{ tmpImage.length }}
    </button>
  </div>
</ng-template>
