<div [formGroup]="form">
  <sff-checkbox-node #tree
                     [checked]="model.value"
                     [disabled]="model.disabled"
                     [tree]="model.tree"
                     (checkedChange)="getValue($event)">
  </sff-checkbox-node>
  <div *ngIf="invalid" class="text-error">
    <small *ngFor="let error of errors" class="form-text text-danger">{{ error }}</small>
  </div>
  <input [formControlName]="model.name" type="hidden" [id]="model.name" [value]="model.value" />
</div>
