@import '../../theme/styles';

@include nb-install-component() {
  .text-error {
    width: 100%;
  }

  nb-badge {
    position: static;
    padding: 0;
    border-radius: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    width: 1.25rem;
  }

  .box {
    max-height: 3.4rem;
    overflow: visible;
  }
}
