<div [formGroup]="form" class="keyword" [ngClass]="{'keyword-list': isOption}">
  <span *ngIf="model.value && model.value.length > 0"
        class="word-list"
        [ngClass]="{'drag-container': model.drag}"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">
    <span *ngFor="let v of model.value" class="item" cdkDrag [cdkDragDisabled]="!model.drag">
      <div class="drag-placeholder" *cdkDragPlaceholder></div>
      {{ v }}
      <nb-icon *ngIf="! model.readonly" status="danger" icon="close-square" (click)="delete(v)"></nb-icon>
    </span>
  </span>
  <ng-container *ngIf="! model.value || model.value.length === 0">
    <span>{{ lang.no_data }}</span>
  </ng-container>
  <span *ngIf="! model.readonly" class="operate">
    <input #keyword type="text" class="form-control-sm form-value" (focus)="showOption()">
    <a nbButton class="btn-add" status="info" size="tiny" (click)="add(keyword)">{{ lang.add }}</a>
  </span>
  <div *ngIf="model.options && model.options.length > 0" class="options">
    <a *ngFor="let v of model.options" (click)="insert(v)">
      {{ v }}
    </a>
  </div>
  <div *ngIf="invalid" class="text-error">
    <small *ngFor="let error of errors" class="form-text text-danger">{{ error }}</small>
  </div>
  <input [formControlName]="model.name" type="hidden" [name]="model.name" [value]="model.value">
</div>
