@import '../../theme/styles';

@include nb-install-component() {
  .keyword-list {
    display: flex;
    // justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .options {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem;
      border: 1px solid nb-theme(border-basic-color-4);
      background: nb-theme(background-basic-color-1);
      z-index: 99;

      nb-icon {
        position: absolute;
        width: 1.4rem;
        height: 1.4rem;
        right: 0;
        top: 0;
        color: nb-theme(color-basic-500);
      }
    }
  }

  a {
    position: relative;
    margin-right: .5rem;
    margin-bottom: .25rem;
    margin-top: .25rem;

    nb-icon {
      position: absolute;
      width: 1.4rem;
      height: 1.4rem;
      right: -.7rem;
      top: -.7rem;
    }
  }

  .form-control-sm {
    width: 4rem;
    border: 1px solid nb-theme(color-basic-300);
  }

  .btn-add {
    margin: 0;
  }
}
