@import '../../theme/styles';

@include nb-install-component() {
  .keyword-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .options {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem;
      border: 1px solid nb-theme(border-basic-color-4);
      background: nb-theme(background-basic-color-1);
      z-index: 99;
      display: none;

      a {
        color: nb-theme(background-basic-color-1);
      }

      a:nth-child(6n-5) {
          background-color: nb-theme(text-danger-color);
      }
      a:nth-child(6n-4) {
          background-color: nb-theme(text-warning-color);
      }
      a:nth-child(6n-3) {
          background-color: nb-theme(text-info-color);
      }
      a:nth-child(6n-2) {
          background-color: nb-theme(text-success-color);
      }
      a:nth-child(6n-1) {
          background-color: nb-theme(text-primary-color);
      }
      a:nth-child(6n) {
          background-color: nb-theme(text-basic-color);
      }
    }
  }

  .keyword-list:hover .options {
    display: block;
  }

  a {
    position: relative;
    margin-right: .5rem;
    margin-bottom: .25rem;
    margin-top: .25rem;

    nb-icon {
      position: absolute;
      width: 1.4rem;
      height: 1.4rem;
      right: -.7rem;
      top: -.7rem;
    }
  }

  .form-control-sm {
    width: 4rem;
    border: 1px solid nb-theme(color-basic-300);
  }

  .btn-add {
    margin: 0;
  }
}
