<nb-layout>
  <nb-layout-header fixed>Company Name</nb-layout-header>

  <!-- <nb-sidebar>Sidebar Content</nb-sidebar> -->

  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <ngx-test-component></ngx-test-component>
        <sff-dynamic-form [loading]="submitting"
                          [setting]="setting"
                          [models]="models"
                          (formValueChange)="valueChange($event)"
                          (formCustom)="operate($event)"
                          (formReset)="reset($event)"
                          (formSubmit)="submit($event)">
          <ng-container name="other-models">
          </ng-container>
        </sff-dynamic-form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
