<nb-layout>
  <nb-layout-header fixed>Company Name</nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>

  <nb-layout-column>
    <nb-card>
      <ngx-test-component></ngx-test-component>
      <ngx-dynamic-form [models]="models" layout="inline" [loading]="submitting" (formSubmit)="submit($event)" (formCustom)="operate($event)">
        <ng-container name="other-models">
          <ngx-image-tree *ngFor="let tree of trees" [tree]="tree"></ngx-image-tree>
        </ng-container>
      </ngx-dynamic-form>
    </nb-card>
  </nb-layout-column>
</nb-layout>