::ng-deep ngx-dynamic-form {
  // .default-block {
  //   width: 60%;
  //   ngx-form-block {
  //     width: 100%;
    
  //     .form-group {
  //       float: left;
  //       width: 33%;
  //       overflow-x: scroll;
  //     }
  //   }
  // }
  // .form-operation {
  //   width: 40%;
  // }
  .dynamic-form  .form-inline {
    .custom-condition {
      width: 85%;
    }
  
    .custom-operation {
      width: 15%;
    }

    .form-inline {
      .inline-group {
        width: 50%;
      }
    }
  }
}