<div [formGroup]="form">
  <input [formControlName]="model.name"
         [type]="inputType"
         class="form-control"
         ngxInputEqualValidator
         [equalValue]="password1.value"
         placeholder="请输入">
  <input #password1
         class="form-control"
         [type]="inputType"
         placeholder="请确认"
         (input)="validatePassword(password1.value)">
  <ng-container *ngIf="invalid">
    <small *ngFor="let error of errors" class="form-text text-danger">{{ error }}</small>
  </ng-container>
</div>
