<div [formGroup]="form">
  <input [formControlName]="model.name"
         [type]="inputType"
         class="form-control"
         sffInputEqualValidator
         [equalValue]="model.sureValue"
         [placeholder]="lang.input">
  <input #password1
         class="form-control"
         [type]="inputType"
         [value]="model.sureValue"
         [placeholder]="lang.confirm"
         (input)="validatePassword(password1.value)">
  <ng-container *ngIf="invalid">
    <small *ngFor="let error of errors" class="form-text text-danger">{{ error }}</small>
  </ng-container>
</div>
