<div [formGroup]="form">
  <div class="input-group">
    <input class="form-control"
           disabled
           type="text"
           [value]="label">
    <span *ngIf="! model.readonly" [ngClass]="{'tiny-operation': model.size==='tiny', 'input-group-append': model.size!=='tiny'}">
      <a nbButton [size]="model.size" status="info" (click)="choose()">{{ lang.choose }}</a>
      <a nbButton *ngIf="model.value" [size]="model.size" status="warning" (click)="destroy()">{{ lang.clear }}</a>
    </span>
  </div>
  <input [formControlName]="model.name" type="hidden" [name]="model.name" [value]="model.value">
</div>

<ng-template #contentTemplate>
  <div style="height: 600px; overflow: auto;" [nbSpinner]="loading" nbSpinnerStatus="info">
    <div *ngIf="model.filter" class="form-group row" style="margin: 0;">
      <input #search nbInput id="search" class="form-control col-6 offset-1">
      <span class="input-group-append">
        <button nbButton (click)="filter(search.value)">{{ lang.filter }}</button>
      </span>
    </div>
    <table [nbTreeGrid]="dataSource">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" (click)="select(row)"></tr>
        <ng-container [nbTreeGridColumnDef]="customColumn">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            {{ customColumn }}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row" [title]="row.data[customColumn]">
            <nb-icon *ngIf="isChecked(row.data)"
                     status="info"
                     icon="checkmark-square-outline"></nb-icon>
            <sff-tree-node-icon [row]="row" [expanded]="row.expanded"></sff-tree-node-icon>
            {{ row.data[customColumn] }}
          </td>
        </ng-container>
        <ng-container *ngFor="let column of defaultColumns; let i = index"
                      [nbTreeGridColumnDef]="column"
                      [showOn]="getShowOn(i)">           
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            {{ column }}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row" [title]="row.data[column]">{{ row.data[column] }}</td>
        </ng-container>
      </table>
  </div>
  <div>
    <button style="margin-right: 0.5rem" nbButton hero status="warning" (click)="cancel()">{{ lang.cancel }}</button>
    <button nbButton hero status="info" (click)="submit()">{{ lang.sure }}</button>
  </div>
</ng-template>
