@import '../../theme/styles';

@include nb-install-component() {
  .boxes {
    nb-radio {
      white-space: nowrap;
      overflow: hidden;
      
      nb-badge {
        width: 1.65rem;
        top: 0.5rem;
        left: 1.5rem;
        padding: 0.2rem;
      }
    }
    .form-badge {
      padding-left: 1.85rem;
    }
  }

  .row {margin-left: 0;}
}
