<div [formGroup]="form" class="row">
  <ng-container *ngIf="! model.disabled">
    <input nbInput
           class="form-control date-input"
           maxlength="10"
           [readonly]="model.readonly"
           [nbDatepicker]="formpicker"
           placeholder="请选择日期"
           [value]="day">
    <ng-container *ngIf="model.kind === 'date-time'">       
      <nb-select placeholder="小时" [(selected)]="hour" (selectedChange)="selectTime()">
        <nb-option *ngFor="let h of hours" [value]="h">{{ h }}</nb-option>
      </nb-select>
      <nb-select placeholder="分钟" [(selected)]="minute" (selectedChange)="selectTime()">
        <nb-option *ngFor="let m of minutes" [value]="m">{{ m }}</nb-option>
      </nb-select>
    </ng-container>
    <nb-datepicker #formpicker [date]="date" (dateChange)="handleDateChange($event)"></nb-datepicker>
    <input [formControlName]="model.name" type="hidden" [value]="model.value" />
  </ng-container>
  <ng-container *ngIf="model.disabled">
    <input class="form-control date-time-input" disabled size=20 style="width: auto;" [value]="model.value">
  </ng-container>
</div>
