@import '~bootstrap/scss/mixins/forms';
@import '../../theme/styles';

@include nb-install-component() {
  .date-input {
    width: 7rem;
    height: 2.5rem;
    flex: none;
  }

  .date-text {
    background-color: nb-theme(background-basic-color-3);
    border: none;
    color: nb-theme(color-basic-600);
    font-weight: normal;
    font-size: 1rem;
  }

  .date-time-input {
    width: auto;
  }

  .row {
    margin-left: 0;
  }

  .input-group {
    flex-wrap: nowrap;
  }

  .time-container {
    position: relative;
    overflow: visible;

    a {
      padding-left: 0;
    }
    
    .time-popup {
      position:absolute;
      top: 0;
      left: 3.4rem;
      display: none;
      background: nb-theme(background-basic-color-1);
      z-index: 99;

      nb-icon {
        position: absolute;
        width: 1.4rem;
        height: 1.4rem;
        left: 10rem;
        top: 0;
        color: nb-theme(color-basic-500);
      }
    }

    .time-shop {
      display: flex;
      justify-content: center;
    }
  }
}
