<div [formGroup]="form" class="block-row">
  <sff-video-slider [items]="thumbnails"
                    currentIndex="0"
                    [readonly]="! model.multiple"
                    size="small"
                    (destroy)="delete($event)"
                    (edit)="desc($event)">
  </sff-video-slider>
  
  <span *ngIf="! model.disabled">
    <a nbButton
      size="tiny"
      status="info"
      type="button"
      (click)="chooseVideo()">{{ lang.choose }}</a>
    <a *ngIf="model.value"
      nbButton
      size="tiny"
      status="warning"
      type="button"
      (click)="destroyVideo()">{{ lang.clear }}</a>
    <input [formControlName]="model.name" type="hidden" [value]="model.value">
  </span>
</div>

<ng-template #contentTemplate>
  <nb-tabset style="width: 600px; height: 500px;">
    <nb-tab [tabTitle]="lang.local_media">
      <sff-video-upload [config]="model.uploadConfig"
                        [multiple]="model.multiple"
                        (finish)="submitVideo($event)"></sff-video-upload>
    </nb-tab>
  </nb-tabset>
  <div>
    <button nbButton status="danger" (click)="cancelVideo()"  style="margin-right: 1rem;">{{ lang.cancel }}</button>
    <button *ngIf="tmpImage.length" nbButton status="info" (click)="sureVideo()">
      {{ lang.sure }} {{ tmpFilter ? tmpFilter.length : tmpImage.length }} / {{ tmpImage.length }}
    </button>
  </div>
</ng-template>
