<div *ngIf="items && items.length > 0" [ngClass]="{'small': size === 'small'}">
  <nb-actions *ngIf="items.length > 1" size="small" fullWidth>
    <nb-action (click)="backward()">
      <nb-icon icon="arrow-ios-back-outline" status="basic"></nb-icon>
    </nb-action>
    <nb-action (click)="forward()">
      <nb-icon icon="arrow-ios-forward-outline" status="basic"></nb-icon>
    </nb-action>
    <nb-action *ngIf="! readonly" (click)="delete()" [title]="lang.delete">
      <nb-icon icon="close" status="warning"></nb-icon>
    </nb-action>
    <nb-action>{{ +currentIndex + 1 }} / {{ items.length }}</nb-action>
  </nb-actions>
  <div class="slider">
    <video #mediaContainer width='100%' height="auto" controls  class="img-thumbnail" [ngClass]="{'active': active && active.includes(items[currentIndex].url)}">
      <source [src]="items[currentIndex].url | safeURL">
    </video>
  </div>
  <input #descriptionBox
         [disabled]="readonly"
         class="form-control desciption"
         [placeholder]="lang.input_description"
         [(ngModel)]="items[currentIndex].title"
         (input)="desc(descriptionBox.value)">
</div>
<div *ngIf="! items || items.length === 0" class="slider" [ngClass]="{'small-slider': size === 'small'}">
  <img src="assets/images/cover.jpg" class="img-thumbnail">
</div>
