@import '~bootstrap/scss/mixins/forms';
@import '~bootstrap/scss/mixins/image';
@import '../../../theme/styles';

@include nb-install-component() {
  .slider {
    display: flex;
    height: 240px;
    max-height: 240px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .small-slider {
    max-height: 150px;
  }

  .small {
    .slider {
      max-height: 190px;
    }

    nb-action {
      padding: 0;
    }
  }

  .img-thumbnail {
    max-height: 100%;
  }

  .active {
    border-color: nb-theme(color-info-active);
  }

  .desciption {
    margin-top: 0.5rem;
  }
}
