<div class="item-dialog {{ size }}-dialog">
  <div *ngFor="let field of fields; let f = index" class="form-group row">
    <div class="col-{{ column[0] }} text-right">
      <label>{{ field.text }}</label>
    </div>
    <div [ngSwitch]="field.type" class="col-{{ column[1] }}">
      <nb-select *ngSwitchCase="'drop-down'"
                 [placeholder]="lang.select"
                 [fullWidth]="true"
                 [(selected)]="data[field.value]">
        <nb-option value="">{{ lang.select }}</nb-option>
        <nb-option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.text }}</nb-option>
      </nb-select>
      <nb-select *ngSwitchCase="'boolean-radio'" [placeholder]="lang.select" [(selected)]="data[field.value]">
        <nb-option value="">{{ lang.all }}</nb-option>
        <nb-option value="true">{{ lang.yes }}</nb-option>
        <nb-option value="false">{{ lang.no }}</nb-option>
      </nb-select>
      <div *ngSwitchCase="'drop-down-filter'" class="input-group">
        <input #searchBox type="text" class="form-control" [placeholder]="lang.filter" (input)="search(searchBox.value, f)">
        <div class="input-group-append">
          <nb-select [placeholder]="lang.select"
                     [(selected)]="data[field.value]">
            <nb-option value="">{{ lang.select }}</nb-option>
            <nb-option *ngFor="let opt of searchOptions[f]" [value]="opt.value">{{ opt.text }}</nb-option>
          </nb-select>
        </div>
      </div>
      <input *ngSwitchCase="'number'" [placeholder]="lang.input" class="form-control" type="number" [(ngModel)]="data[field.value]" />
      <textarea *ngSwitchCase="'textarea'" class="form-control" [placeholder]="lang.input" [(ngModel)]="data[field.value]"></textarea>
      <input *ngSwitchDefault [placeholder]="lang.input" class="form-control" [(ngModel)]="data[field.value]" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <button class="btn" nbButton hero status="warning" (click)="close()">{{ lang.cancel }}</button>
      <button class="btn" nbButton hero status="info" (click)="submit()">{{ lang.sure }}</button>
    </div>
  </div>
</div>
