@import '../../../theme/styles';

@include nb-install-component() {
  .large-dialog {
    width: 800px;
  }

  .medium-dialog {
    width: 500px;
  }

  .help-icon {
    width: 0.8rem;
    height: 0.8rem;
  }
}
